html, body { 
    margin: 0; 
    padding: 0; 
    font-family: 'Helvetica', 'Arial';
    background-color: #eeeeee;
}

#break{
    width: 100%; 
    background: #eeeeee;
    height: 30px;
}
#break2{
    width: 50%;
    background: #eeeeee;
}
.normal-wrapper { 
    width: 85%;
    margin: 0 auto; 
    padding: 15px 40px; 
    background: #eeeeee;
    overflow: auto;
}
h1{
    font-size: 80px;
    color: #8ba969;
    font-family: 'Times New Roman', Times, serif;
    line-height: 50px;
}
#navbar { 
    list-style-type: none;
    margin: 29px 0 0 0; 
    padding: 0;
    float: right; 
    font-size: 12pt;
}
#navbar li { 
    display: inline;
}
#navbar li a:link, #navbar li a:visited, #navbar li a:active { 
    text-decoration: none;
    color: #767676; 
    padding: 0 16px 0 10px;
    margin: 0; 
    
}
#navbar li a:link.last-link { 
    background-color: #e9dca6;
    color: #767676;
}
#navbar li a:hover { 
    color: #000000;
}
#top-color-splash { 
    width: 100%; 
    height: 4px; 
    background: #8ba969;
}
.one-third { 
    width: 40%; 
    float: left; 
    box-sizing: border-box;
    margin-top: 20px;
}
.two-third { 
    width: 60%; 
    float: left; 
    box-sizing: border-box;
    padding-left: 40px; 
    text-align: right; 
    margin-top: 20px;
}
.featured-image { 
    max-width: 800px;
}
.no-margin-top { 
    margin-top: 0;
}
button {
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
    display: block;
    margin-top: 20px;
    float: left ;
	border: none;
	outline: none;
	padding: 10px 20px;
    color: rgb(56, 51, 51);
	margin-bottom: 20px;
    margin: 20px;
}
.btn1{
    background-color: #eeeeee;    
}
.btn2{
    background-color: #8ba969;
    color: #ffffff;
}
mark{
    background-color: #e7e3d8;
    color: #767676;
}
button:hover{
	cursor: pointer;
}
.Right{
    float: right;
    width: 90%;
}
.Left{
    float:left;
    width: 10%;
}
.Your-logo{
    height: 125px;
    width: 63px;
}
p{
    color: #767676 ;
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
}
.SocialIcon{
    float: left;
    width: 10%;
}
.btn1:hover{
    color:#8ab969;
}
.btn2:hover{
    background-color: #608537;
}
